
#root {
  height: 100vh;
}

.App {
  text-align: left;
}

/* App Header */
.App-header {
  background-color: #333;
  border-bottom: 1px solid #dedede;
}

.App-logo {}

.App-menu {
  font-size: 16px;
}


/* Menu items default */
.menuItem {
  display: inline-block;
  color: wheat;
}

.menuItem:hover {
  color: white;
}

/* App Main */
.App-main {
  overflow: auto;
}

/* App Panel */
.App-panel {}

.App-panel-open svg {
  color: wheat;}

.App-panel-close svg {
  color: darkslategrey;
}

.App-panel-header {
  margin: -1rem;
  padding: 1rem;
  background-color: aliceblue;
}

.App-panel-menu {
  display: flex;
  flex-wrap: wrap;
}

.App-panel-menu .menuItem {
  width: 50%;
  font-size: 16px;
  line-height: 2rem;
  color: darkslategrey;
}

.App-panel-menu .menuItem:hover {
  color: darkgray;
}