.Chat-user {
  padding: .5rem 1rem;
  /* border-radius: .25rem; */
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.Chat-user.selected {
  background-color: cornflowerblue;
  color: white;
}

.Chat-user:not(.selected):hover {
  background-color: aliceblue;
}

.Chat-user-image {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: lightgray;
}

.Chat-user-image svg {
  box-sizing: content-box;
}

.Chat-user-details {
  margin-left: .5rem;
  padding: .25rem;
}

.Chat-user-online,
.Chat-user-offline {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  /* display: inline-block; */
  float: right
}

.Chat-user-online {
  background-color: chartreuse;
}

.Chat-sidebar {
  flex: 0 0 300px;
  border-right: 2px solid #eee;
}
.Chat-search {
  border-bottom: 1px solid #eee;
}

.Chat-input {
  padding: 1rem 0;
}

.Chat-messages {
  overflow: auto;
}

/* Messages */

.Message {
  min-width: 300px;
  max-width: 100%;
  color: white;
  border-radius: .5rem;
  text-align: left;
  padding: 0.5rem 1rem;
  /* opacity: 0.8; */
}

.Message-container {
  align-items: center;
  margin-bottom: 1rem;
}

.Message-head {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

.Message-user {
  flex: 1;
  text-transform: uppercase;
}

.Message-user-image {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  /* margin: 0 1rem; */
}

.Message-container:not(.Message-private) .Message,
.Message-container:not(.Message-private) .Message-user-image {
  margin-left: 1rem
}

.Message-container.Message-private .Message,
.Message-container.Message-private .Message-user-image {
  margin-right: 1rem
}

.Message-date {}