.input-field {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  resize: none;
  outline:none;
}

.btn {
  background-color: gray;
  color: white;
  padding: .25rem 1rem;
  line-height: 1.75rem;
  border-radius: .25rem;
}

.btn-blue {
  color: white;
  background-color: dodgerblue;
}

/* Alert */

.alert {
  width: 100%;
  line-height: 2rem;
  padding: .25rem 1rem;
  border-radius: .25rem;
  color: white;
  background-color: dodgerblue;
}

.alert-success {
  background-color: darkkhaki;
}

.alert-warning {
  background-color: sandybrown;
}

.alert-error {
  background-color: salmon;
}

/* Content */

.divider {
  width: 100%;
  margin: 1rem 0;
  border: 0;
  border-top: 1px solid lightgray;
  opacity: .25;
}