.input-field {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  resize: none;
  outline:none;
}

/* Content */

.divider {
  width: 100%;
  margin: 1rem 0;
  border: 0;
  border-top: 1px solid lightgray;
  opacity: .25;
}